<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
         
  <!-- automatically scan classpath for apps -->
  
  <context:component-scan base-package="com.ontology2.haruhi">
    <context:include-filter type="assignable"
      expression="com.ontology2.centipede.shell.CommandLineApplication" />
    <context:exclude-filter type="assignable"
      expression="com.ontology2.haruhi.HaruhiShell" />
  </context:component-scan>

  <!-- configuration of major resources -->
  <bean name="s3JarPath" class="java.lang.String">
    <constructor-arg value="s3://bakemono-public/" />
  </bean>
  
  <bean name="localCmdCluster" class="com.ontology2.haruhi.LocalCmdCluster">
    <property name="jarPath">
        <value>${user.home}/.m2/repository/com/ontology2/bakemono</value>
    </property>
  </bean>
  
 <!--  makes system properties  available -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />
</beans>
 