<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!-- comment numbering works like ISO 9001 or a PMI book just not so deep a hierarchy the top level schema is now 1 configuration of Spring itself 2 configuration of general infovore beans 3 bean definitions for Amazon EMR -->

  <!-- 1.0 automatically scan classpath for apps -->

  <context:component-scan base-package="com.ontology2.haruhi">
    <context:include-filter type="assignable" expression="com.ontology2.centipede.shell.CommandLineApplication" />
    <context:exclude-filter type="assignable" expression="com.ontology2.haruhi.HaruhiShell" />
  </context:component-scan>

  <!-- 1.1 make system properties available -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:com/ontology2/haruhi/version.properties"/>
    <property name="systemPropertiesMode" value="1"/>
  </bean>


  <!-- 2.0 configuration of major resources -->
  <bean name="s3JarPath" class="java.lang.String">
    <constructor-arg value="s3://bakemono-public/" />
  </bean>

  <bean name="dotHaruhi" class="java.lang.String">
    <constructor-arg value="${user.home}/.haruhi" />
  </bean>

  <bean name="clusterUsername" class="java.lang.String">
    <constructor-arg value="hadoop" />
  </bean>

  <bean name="localCmdCluster defaultCluster" class="com.ontology2.haruhi.LocalCmdCluster">
    <property name="mavenRepoPath">
      <value>${user.home}/.m2/repository</value>
    </property>
  </bean>

  <!-- the defaultJar is the default JAR we run; override it to change the default -->
  <!-- bakemonoJar sets the defaults for bakemono derivatives; inherit from it -->
  <!-- we're assuming that haruhi and bakemono are being updated in lockstep -->

  <bean name="bakemonoJar defaultJar" class="com.ontology2.haruhi.MavenManagedJar">
    <property name="groupId" value="com.ontology2" />
    <property name="artifactId" value="bakemono" />
    <property name="version" value="${com.ontology2.haruhi.version}" />
    <property name="classifier" value="job" />
    <property name="headArguments">
      <list>
        <value>run</value>
      </list>
    </property>
  </bean>

  <bean name="haruhiVersion" class="java.lang.String">
       <constructor-arg value="${com.ontology2.haruhi.version}"/>
  </bean>

  <bean name="t20130902" parent="bakemonoJar">
    <property name="version" value="t20130902" />
  </bean>
  
  <!-- 3.1 definition of AWS Specific Objects -->
  
  <import resource="awsContext.xml"/>

</beans>
 
